<%- include('partials/head' , { title: 'Nuestros productos' , styles: [ 'detail' , 'header' , 'footer' ]}) %>

    <body>

        <%- include('partials/header') %>

            <main>

                <section class="product-cart">

                    <h3>
                        <%= product.model %>
                    </h3>

                    <div class="product-cart">


                        <article class="product-cart2">
                            <a href="/products/<%= product.id %>"><img src="\images\products\<%= product.image %>"
                                    alt="Auto" class="product_img"></a>

                            <div class="main-article">
                                <i class="fa-solid fa-car"></i></i>
                                <p class="price">
                                    US$ <%= product.price %>
                                </p>
                                <h4 class="description">
                                    <%= product.brand.name %>
                                </h4>
                                <p class="model">
                                    Modelo: <%= product.model %>

                                </p>
                                <p class="model">
                                    Año: <%= product.year%>
                                </p>
                                <p class="model">
                                    <%= product.description %>

                                </p>
                                <div>
                                    <p class="model">Colores disponibles:</p>
                                    <ul class="model">
                                        <% product.colors.forEach(color=> { %>
                                            <li>
                                                <%= color.name %>
                                            </li>
                                            <% }) %>
                                    </ul>
                                </div>
                                <!-- <p class="status">Agregar al carrito</p>
                  <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span> -->

                                </label>


                                <div class="action-button">
                                    <div class="cajas-button">
                                        <% if (!locals.isLogged ) { %>
                                            <a href="/users/login" class="button-decoration">CONTINUNAR COMPRA</a>
                                            <% }else { %>
                                                <a href="/products/productCart" class="button-decoration">CONTINUNAR COMPRA</a>

                                                <% } %>


                                    </div>
                                    <% if (locals.isLogged && locals.userLogged.roles_id==1 ) { %>

                                        <div class="cajas-button">
                                            <a href="/products/<%= product.id %>/edit" class="button-decoration">EDITAR
                                                PRODUCTO</a>
                                        </div>
                                        <div class="cajas-button">
                                            <form action="/products/<%= product.id %>?_method=DELETE" method="POST"
                                                style="display: inline-flex">
                                                <button class="button-decoration" type="submit">ELIMINAR</button>
                                                <% } %>
                                            </form>
                                        </div>
                                </div>
                            </div>

                        </article>
                    </div>
                    <!-- </section> -->
            </main>

            <%- include('partials/footer') %>
    </body>


    </html>