<%- include('partials/head' , { title: 'Ingresar' , styles: [ 'registro-login' , 'header' , 'footer' ]}) %>

  <body>
    <%- include('partials/header') %>

      <div class="loginFrm">
        <form action="/users/login" id="form-login" method="POST" class="form">
          <h1 class="title">Ingresa</h1>


          <div class="inputContainer">
            <input type="email" class="input" name="email" id="email" placeholder="ejemplo@gmil.com"
              value="<%= locals.oldData ? oldData.email : null %>">
            <label for="" name="email" class="label">Email de Usuario</label>
          </div>
          <p class="error-message" id="error-email"></p>
          <% if (locals.errors && errors.email) { %>
            <div class="msg-error">
              <%= errors.email.msg %>
            </div>
            <% } %>
              <div class="inputContainer">
                <input type="password" name="password" class="input" id ="passwordInput" placeholder="a">
                <label for="" class="label">Contrase単a</label>
                <!-- <button type="button" id="togglePasswordButton">Ver</button> -->
              </div>
              <p class="error-message" id="error-password"></p>
              <% if (locals.errors && errors.password) { %>
                <div class="msg-error">
                  <%= errors.password.msg %>
                </div>
                <% } %>
                  <div>
                    <label class="">
                      <input type="checkbox" class="" name="remember_user"> Recordar mi usuario
                    </label>
                  </div>


                  <input type="submit" class="submitBtn" value="Continuar">

                  <br><br>
                  <a href="/users/register" style="color:red;">多No tienes cuenta? Registrate</a>
                  <br>
                  <br>
                  <a href="#" style="color:red;">多Olvidaste tu contrase単a?</a>
        </form>
      </div>
      <%- include('partials/footer') %>
        <script src="/js/loginValidation.js"></script>
  </body>

  </html>