<%- include('partials/head' , { title: 'Nuestros productos' , styles: [ 'compra' , 'header' , 'footer' ]}) %>

  <body>

    <%- include('partials/header') %>

      <main>
        <br>
        <section class="product-cart">
          <br>
          <br>
          <!-- <div class="motor-busqueda">
            <div class="form-search">
              <input class="input" placeholder="Buscar" id="formulario" type="text">
            </div>

            <div class="button-search">
              <button id="button">
                Buscar
              </button>
            </div>

          </div>
          <ul id="resultado" class="lits-result"></ul> -->


          <br>
          <h3 class="title-products">Nuestros Autos</h3>
          <br>
          <div class="products">

            <% products.forEach((product)=> { %>
              <article>
                <a href="/products/<%= product.id %>"><img src="\images\products\<%= product.image %>" alt="Auto"
                    class="product_img"></a>

                <div class="main-article">
                  <i class="fa-solid fa-car"></i></i>
                  <p class="price"> US$ <%= product.price %>
                  </p>
                  <h4 class="description">
                    <%= product.brand.name %>
                  </h4>
                  <p class="model">
                    <%= product.model %>
                  </p>

                  <br>
                  <button>
                    <span class="button_top"><a href="/products/<%= product.id %>">Ver detalle
                      </a></span>
                  </button>
                

                </div>
              </article>
              <% }) %>
          </div>

          </div>
        </section>
        <br>

        <!-- <button>
          <span class="button_top"><a href="/products/productCart">¡Ir al Carrito!
            </a></span>
        </button> -->








      </main>
      <script src="/js/button_search.js"></script>

      <%- include('partials/footer') %>
  </body>


  </html>