<%- include('partials/head' , { title: 'Nuestros productos' , styles: [ 'compra' , 'header' , 'footer' ]}) %>

  <body>

    <%- include('partials/header') %>

      <main>
        <br>
        <section class="product-cart">
          <br>
          <br>
          <br>
          <h3>Nuestros Autos</h3>
          <br>
          <div class="products">
            
            <% products.forEach((product) => { %>
            <article>
              <a href="/products/<%= product.id %>"><img src="\images\products\<%= product.image %>" alt="Auto" class="product_img"></a>
             
              <div class="main-article">
                <i class="fa-solid fa-car"></i></i>
                <p class="price"> US$ <%= product.price %></p>
                <h4 class="description"><%= product.brand %> </h4>
                <p class="model"><%= product.model %> </p>
              
                <br>
                <p class="status">Agregar al carrito</p>
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider"></span>
                </label>

              </div>
            </article>
            <% }) %>
          </div>
            
        </section>
        <br>

        <button>
          <span class="button_top"><a href="/products/productCart">¡Ir al Carrito!
            </a></span>
        </button>








      </main>
  </body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%- include('partials/footer') %>

    </html>