<%- include('partials/head' , { title: 'Editar producto' , styles: [ 'productCreate' ,'header' , 'footer' ]}) %>
    
<body>

  <%- include('partials/header') %>
  
  
  <div class="description-box">
  
  <p class="title">Editar Informacion De Producto</p>
  <form action="/products/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
        <div class="data-box">
          <input required="" name="brand" type="text" value="<%= productToEdit.brand %>">
          <label>Marca</label>
        </div>
        <div class="data-box">
          <input required="" name="model" type="text" value="<%= productToEdit.model %>">
          <label>Modelo</label>
        </div>
        <div class="data-box">
          <input required="" name="year" type="number" value="<%= productToEdit.year %>">
          <label>Año</label>
        </div>
      
        <div class="data-box">
          <input required="" name="power" type="number" value="<%= productToEdit.power %>">
          <label>Potencia(hp)</label>
        </div>
        <div class="data-box">
          <input required="" name="price" type="" value="<%= productToEdit.price %>">
          <label>Precio</label>
        </div>
        <div class="data-box">
          <input required="" name="color" type="text" value="<%= productToEdit.color %>">
          <label>Color</label>
        </div>
         <p><i class="fa-regular fa-image"></i> Imagen</p>
        <div class="data-box">
          <input type="file" id="myfile" name="imgFile" class="inputfile" value="<%= productToEdit.image %>">
        </div> 
        <input type="submit" class="submitBtn" value="Guardar Cambios">
      </form>
      
      


    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    
  </body>
  <%- include('partials/footer') %>
  
</html>