<%- include('partials/head' , { title: 'Editar producto' , styles: [ 'registro-login' ,'header' , 'footer' ]}) %>

  <body>

    <%- include('partials/header') %>


      <div class="signupFrm" id="form-container">

        <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <h1 class="title" id="product">Editar producto</h1>
          <div class="inputContainer" id="form-product">
            <select class="input" name="products_brands_id" id="brands">
              <option class="label" value="" font-family="oswald">Selecciona la marca</option>
              <% brands.forEach(brand=> { %>
                <option value="<%= brand.id %>" <%=product.brand.id==brand.id ? "selected" : "" %>><%= brand.name %>
                </option>
                <% }) %>

            </select>
            <p class="error-message" id="error-brands"></p>
          </div>

          <div class="inputContainer" id="form-product">
            <input type="text" class="input" name="model" placeholder="a" value="<%= product.model %>" id="model">
            <label for="" name="model" class="label">Modelo</label>
            <p class="error-message" id="error-model"></p>
          </div>

          <div class="inputContainer" id="form-product">
            <input type="number" class="input" name="year" placeholder="a" value="<%= product.year %>" id="year">
            <label for="" name="year" class="label">Año</label>
            <p class="error-message" id="error-year"></p>
          </div>

          <div class="inputContainer" id="form-product">
            <input type="text" class="input" name="description" value="<%= product.description %>" id="description">
            <label for="" name="description" class="label">Descripción</label>
            <p class="error-message" id="error-description"></p>
          </div>

          <div class="inputContainer" id="form-product">
            <input type="number" class="input" name="price" value="<%= product.price %>" id="price">
            <label for="" name="price" class="label">Precio</label>
            <p class="error-message" id="error-price"></p>
          </div>

          <div class="inputContainer" id="form-product">
            <label for="" name="color" class="label">Colores disponibles</label>
          </div>
          <div class="inputContainer" id="colors">

            <% colors.forEach( color=> { %>
              <p>
                <input type="checkbox" id="<%= color.name %>" value="<%= color.id %>">
                <label for="<%= color.name %>">
                  <%= color.name %>
                </label>

                <% }) %>
              </p>
              <p class="error-message" id="error-colors"></p>
          </div>
        


          <div class="inputContainer" id="form-product">
            <div class="input">
              <input type="file" name="img" id="perfil" style="display:none" value="<%= product.image %>">
              <label class="label" for="Perfil">Seleccion Imagen De Producto</label>
              <p class="error-message" id="error-perfil"></p>
            </div>
          </div>

          <input type="submit" class="submitBtn" value="Guardar cambios">
        </form>
      </div>
      <script src="/js/formCreateValidation.js"></script>
  </body>
  <%- include('partials/footer') %>

    </html>