<%- include('partials/head' , { title: 'Perfil de usuario' , styles: [ 'profile' , 'header' , 'footer' ]}) %>

    <body>
        <%- include('partials/header') %>
            <main class="profilebody">
                


                    <div class="card">
                        <div class="imge">
                            <div class="Usericon">
                                <img class="image-perfil" src="/images/users/<%=user.avatar %>" alt="">

                            </div>
                            <p class="UserName"> hi <%= user.name %>
                            </p>
                            <p class="Id">
                                <%= user.email %>
                            </p>
                        </div>

                        <div class="Description">
                            <p>
                                Bienvenid@ <%= user.name %>
                                    <%= user.last_name %> a tu cuenta de <%= user.rol.name %> de RoyalCar.
                                            Por cualquier duda, podes comunicarte con un asesor de nuestro equipo a
                                            travez de asesoria_personalizada@royalcar.com.

                            </p>
                        </div>

                        <div class="social-media">
                            <div class="contein-logout">
                                <a href="/users/logout" class="logout-button"> CERRAR SESION </a>
                            </div>
                            <div class="contein-logout">
                                <a href="/users/<%= user.id %>/edit" class="logout-button">EDITAR</a>
                            </div>

                        </div>

                    </div>

                

            </main>






    </body>

    <%- include('partials/footer') %>

        </html>