<%- include('partials/head' , { title: 'Registro' , styles: [ 'registro-login' , 'header' , 'footer' ]}) %>

  <body>
    <%- include('partials/header') %>
      <div class="signupFrm">

        <form action="/users/register" class="form" id="form" method="POST" enctype="multipart/form-data">
          <h1 class="title">Regístrate</h1>

          <div class="inputContainer">
            <input type="text" class="input" name="name" id="nombre" placeholder="a"
              value="<%= locals.oldData ? oldData.name : null %>">
            <label for="" name="name" class="label">Nombre</label>
          </div>
          <!-- <i class="fa fa-exclamation-triangle" aria-hidden="true" id="icono-error"></i> -->
          <p class="error-message" id="error-name"></p>
          <% if (locals.errors && errors.name) { %>
            <div id="error-name" class="msg-error">
              <%= errors.name.msg %>
            </div>
            <% } %>

              <div class="inputContainer">
                <input type="text" class="input" name="last_name" id="apellido" placeholder="a"
                  value="<%= locals.oldData ? oldData.last_name : null %>">
                <label for="" name="last_name" class="label">Apellido</label>
              </div>
              <!-- <i class="fa fa-exclamation-triangle" id="icono-error" display ="none"></i> -->
              <p class="error-message" id="error-last_name"></p>
              <% if (locals.errors && errors.last_name) { %>
                <div class="msg-error" id="error-last_name">
                  <%= errors.last_name.msg %>
                </div>
                <% } %>
                  <div class="inputContainer">
                    <input type="email" class="input" name="email" id="email" placeholder="ejemplo@gmil.com"
                      value="<%= locals.oldData ? oldData.email : null %>">
                    <label for="" name="email" class="label">Email</label>
                  </div>
                  <!-- <i class="fa fa-exclamation-triangle" id="icono-error"></i> -->
                  <p class="error-message" id="error-email"></p>
                  <% if (locals.errors && errors.email) { %>
                    <div class="msg-error" id="error-email">
                      <%= errors.email.msg %>
                    </div>
                    <% } %>

                      <p id="text-image">Selecciona una imagen de perfil</p>
                      <div class="inputContainer">
                        <input type="file" class="input" name="avatar" id="Perfil">
                      </div>
                      <!-- <i class="fa fa-exclamation-triangle" class="icono-error"></i> -->
                      <p class="error-message" id="error-avatar"></p>


                      <% if (locals.errors && errors.avatar) { %>
                        <div class="msg-error" id="error-avatar">
                          <%= errors.avatar.msg %>
                        </div>
                        <% } %>

                          <div class="inputContainer">
                            <select class="input" name="roles" id="rol">
                              <option class="label" value="" font-family="oswald">Selecciona Tu Rol</option>
                              <% for( let i=0; i < roles.length; i++ ) { %>

                                <option value="<%= roles[i].id %>" id="<%=roles[i].name %>">
                                  <%= roles[i].name %>
                                </option>
                                <% } %>

                            </select>
                          </div>
                          <!-- <i class="fa fa-exclamation-triangle" id="icono-error"></i> -->
                          <p class="error-message" id="error-roles"></p>
                          <% if (locals.errors && errors.roles) { %>
                            <div class="msg-error" id="error-roles">
                              <%= errors.roles.msg %>
                            </div>
                            <% } %>


                              <div class="inputContainer">
                                <input type="password" name="password" class="input" id="password" placeholder="a">
                                <label for="" class="label">Contraseña</label>
                              </div>
                              <p id="i"><i class="fa fa-info-circle" aria-hidden="true"></i> La contrasea debe ser
                                alfanumerica y tener mínimo 8 caracteres</p>
                              <!-- <i class="fa fa-exclamation-triangle" id="icono-error"></i> -->
                              <p class="error-message" id="error-password"></p>
                              <% if (locals.errors && errors.password) { %>
                                <div class="msg-error" id="error-password">
                                  <%= errors.password.msg %>
                                </div>
                                <% } %>

                                  <div class="inputContainer">
                                    <input type="password" name="confirm_password" id="confirm_password" class="input"
                                      placeholder="a">
                                    <label for="" class="label">Confirmar Contraseña</label>
                                  </div>
                                  <!-- <i class="fa fa-exclamation-triangle" id="icono-error"></i> -->
                                  <p class="error-message" id="error-confirm_password"></p>
                                  <% if (locals.errors && errors.confirm_password) { %>
                                    <div class="msg-error" id="error-confirm_password">
                                      <%= errors.confirm_password.msg %>
                                    </div>
                                    <% } %>



                                      <p>Al registrarte, aceptas nuestras <a href="#" style="color:blue;">Condiciones de
                                          uso y Politicas de Privacidad</a>
                                      </p>
                                      <p>¿Ya tienes una cuenta? <a href="/users/login" style="color:red;">Inicia
                                          Sesion</a>
                                      </p>
                                      <input type="submit" class="submitBtn" value="Continuar">
        </form>
      </div>
      <%- include('partials/footer') %>
        <script src="/js/registerValidation.js"></script>
  </body>


  </html>