<%- include('partials/head' , { title: 'Registro' , styles: [ 'registro-login' , 'header' , 'footer' ]}) %>

  <body>
    <%- include('partials/header') %>
      <div class="signupFrm">

        <form action="/users/<%= user.id %>?_method=PUT" class="form" method="POST" enctype="multipart/form-data">
          <h1 class="title">Editar Perfil</h1>

          <div class="inputContainer">
            <input type="text"
             class="input" 
             name="name"
              placeholder="a"
              value = "<%= user.name %>">
           
            <label for="" name="name" class="label">Nombre</label>
          </div>
          <p class="error-message" id="error-name"></p>
          <% if (locals.errors && errors.name) { %>
            <div class="msg-error">
              <%= errors.name.msg %>
            </div>
            <% } %>


              <div class="inputContainer">
                <input type="text"
                 class="input" 
                 name="last_name"
                  placeholder="a" 
                   value = "<%= user.last_name %>">
                <label for="" name="last_name" class="label">Apellido</label>
              </div>
              <p class="error-message" id="error-last_name"></p>
              <% if (locals.errors && errors.last_name) { %>
                <div class="msg-error">
                  <%= errors.last_name.msg %>
                </div>
                <% } %>
                  <div class="inputContainer">
                    <input type="email" 
                    class="input" 
                    name="email" 
                    placeholder="ejemplo@gmil.com"
                    value = "<%= user.email %>">
                    <label for="" name="email" class="label">Email</label>
                  </div>
                  <p class="error-message" id="error-email"></p>
                  <% if (locals.errors && errors.email) { %>
                    <div class="msg-error">
                      <%= errors.email.msg %>
                    </div>
                  <% } %>
                 
                  <div class="inputContainer">
                    <div class="input">
                      <input type="file" name="avatar" id="Perfil" style="display:none">
                      <label class="label" for="Perfil">Seleccion Imagen De Perfil</label>
                    </div>
                  </div>
                  <% if (locals.errors && errors.usersImage) { %>
                    <div class="msg-error">
                      <%= errors.usersImage.msg %>
                    </div>
                  <% } %>
                  <div class="inputContainer">
                    <select class="input" name="roles" value="<%= user.roles %>">
                      <% for (let i = 0; i < roles.length; i++) { %>
                      <option class="label" value = "<%=roles[i].id%> " font-family="oswald"><%=roles[i].name%></option>
                      <% } %>
                    </select>
                  </div>
                  <% if (locals.errors && errors.roles) { %>
                    <div class="msg-error">
                      <%= errors.roles.msg %>
                    </div>
                  <% } %>
                 
                 
                  <div class="inputContainer">
                    <input type="password" name="password" class="input" placeholder="a" minlength="8" value="">
                    <label for="" class="label">Nueva Contraseña</label>
                  </div>
                  <% if (locals.errors && errors.password) { %>
                    <div class="msg-error">
                      <%= errors.password.msg %>
                    </div>
                  <% } %>
                 
                  <div class="inputContainer">
                    <input type="password" name="confirm_password" class="input" placeholder="a" minlength="6" value="">
                    <label for="" class="label">Confirmar Nueva Contraseña</label>
                  </div>
                  <% if (locals.errors && errors.confirm_password) { %>
                    <div class="msg-error">
                      <%= errors.confirm_password.msg %>
                    </div>
                  <% } %>
               
                 
                  <input type="submit" class="submitBtn" value="Guardar">
                </form>
      </div>
      <%- include('partials/footer') %>
      <script src="/js/registerValidation.js"></script>
  </body>


  </html>